= form_tag dish_check_path(dish), :method => ( current_user.checked?(dish) ? :delete : :post ), :class => "dish_check_form", "data-ajax" => false, :remote => true do
  %input{ :type => :checkbox, :checked => current_user.checked?(dish) }