%div{ "data-role" => "content"}
  %h2 About Epcot Food & Wine Tracker
  %p This little app was created by #{link_to "Adam Fortuna", "http://adamfortuna.com"} for #{link_to "Forkful.net", "http://forkful.net"}. It's an attempt to collect what dishes are the most popular at Food and Wine each year and make it easier for everyone to discover new dishes to try.