%div{ "data-role" => "content"}
  %h2 Food and Wine Links
  %p Here are a few places to read more about Epcot Food and Wine.
  %ul
    %li= link_to "Disney Food Blog", "http://www.disneyfoodblog.com/"