h1.left { text-align:left !important; margin-left: 10px !important; margin-right:0px  !important; }
.header-select { top: -11px !important; }
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon { padding-left: 50px !important; }
.ui-li-icon { left: 13px  !important; top: 8px !important;}
.ui-icon-flag { left:18px !important; top:15px !important; }

ul li .ui-dish_check_field {}
ul .dish_check_form label { width: 48px !important; height: 34px !important; top: -13px !important; left: 9px !important;}

ul .ui-dish_check_field {
float: right !important;
margin-top: 21px !important;
margin-right: 18px !important;
position: relative !important;
top: auto !important;
left: auto !important;
height:0px !important;
cursor: hand; } 